/* You can add global styles to this file, and also import other style files */
input.invalid {
  border-color: red;
}

i {
  cursor: pointer;
}
tr:hover {
  cursor: pointer;
  background-color: rgb(23, 162, 184, 0.15);
}
